@media (max-width: 1025px) {
  .no-margin {
    font-size: 12px !important;
  }
}

@media (max-width: 860px) {
  .nft-info {
    flex-direction: column;
  }
  .nft-container img {
    height: 91% !important;
  }
  .nft-container {
    padding-right: 2px !important;
    padding-left: 2px !important;
    padding-top: 2px !important;
  }
}
/* 
@media (max-width: 815px) {

} */

* {
  box-sizing: border-box;
}

.auto-sizer-container {
  display: grid;
  min-height: 100vh;
}

.nft-item {
  border: 1px solid #ccc;
  padding: 10px;
}

.no-margin {
  margin: 0;
}

p.no-margin {
  text-align: right;
  width: min-content;
}

.nft-info {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -5px;
  font-size: 11px;
}

.nft-container {
  padding: 10px;
  border: 1px solid #ccc;
  padding: 15px;
  padding-top: 0px;
}

.nft-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-bar {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 0.1875em;
  /* background: rgba(0,0,0,0); */
  box-shadow: inset 0px 2px 26px rgba(0, 0, 0, 0.06),
    0 0 0 3px rgba(0, 0, 100, 0.1);
}
.search-bar-container {
  text-align: center;
}
